.home {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.presentation-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 700px) {
    flex-direction: column;
  }
}

.presentation-name {
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 50px;
}

.presentation-button {
  background-color: transparent;
  color: var(--text-color);
  font-weight: 400;
  font-size: 20px;
  padding: 6px;
  border: 2px dashed var(--text-color);
  border-radius: 15px;
  cursor: pointer;
}

.presentation-tagline {
  color: var(--complementary-color);
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 30px 0;
}

.presentation-image {
  width: 400px;
}

.projects-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.projects-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projects-link {
  color: var(--text-color);
  font-weight: 300;
  font-size: 18px;
}

.projects-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

  @media screen and (max-width: 950px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 700px) {
    grid-template-columns: 1fr;
  }
}

.projects-list-item {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.project-image {
  width: 100%;
}

.contacts-container {

}

.contacts-description {

}

.contacts-list {

}
