.header {
  padding-top: 20px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 450px) {
    flex-direction: column;
  }
}

.header__branding {
  display: flex;
  align-items: center;
  gap: 10px;

  @media screen and (max-width: 900px) {
    align-self: flex-start;
  }
}

.header__logo {
  height: 35px;
}

.header__title {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  color: var(--text-color);

  @media screen and (max-width: 900px) {
    font-weight: 500;
    font-size: 20px;
  }
}

.header__button {
  color: var(--text-color);
  background-color: transparent;
  font-weight: 400;
  font-size: 22px;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: end;

  @media screen and (max-width: 450px) {
    justify-self: start;
    align-self: start;
    align-items: start;
  }
}

.menu-icon {
  margin: 0 0 20px;
  padding: 0;
  display: none;
  border: none;
  background-color: transparent;
  cursor: pointer;

  @media screen and (max-width: 880px) {
    display: block;
  }
}

.nav__list {
  display: flex;
  gap: 20px;
  list-style-type: none;

  @media screen and (max-width: 880px) {
    display: none;
  }
}

.nav__list--open {
  display: flex;
  flex-direction: column;
  align-items: end;

  @media screen and (max-width: 450px) {
    align-items: start;
  }
}

.nav__item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.nav__link {
  text-transform: lowercase;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: var(--text-color);

  @media screen and (max-width: 1000px) {
    font-size: 16px;
  }
}

.nav__icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.nav__item-active {
  .nav__link {
    text-decoration: underline;
  }

  .nav__icon {
    animation: rotate 3s linear infinite; /* 2s - время одного оборота, infinite - бесконечное повторение */
    transform-origin: center; /* Задаем центр вращения в центр элемента */
    border-radius: 0;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg); /* Начальное значение угла вращения */
  }
  100% {
    transform: rotate(360deg); /* Конечное значение угла вращения (полный оборот) */
  }
}
