.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__branding {
  display: flex;
  align-items: center;

  @media screen and (max-width: 600px) {
    align-self: flex-start;
  }
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: end;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
}

.menu-icon {
  margin: 0;
  padding: 0;
  display: none;

  @media screen and (max-width: 600px) {
    display: block;
  }
}

.nav__list {
  display: flex;
  gap: 20px;
  list-style-type: none;

  @media screen and (max-width: 600px) {
    display: none;
  }
}

.nav__list--open {
  display: flex;
  flex-direction: column;
  align-items: end;
}
