.footer {
  display: flex;
  flex-direction: column;
  min-height: 200px;
  padding-top: 30px;
  justify-content: space-around;
  align-items: center;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.footer__left-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__info {
  display: flex;
  gap: 20px;
  align-items: center;
}

.footer__right-block {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.footer__branding {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer__title {
  font-size: 20px;
}

.footer__email {

}

.footer__logo {
  height: 27px;
}

.footer__links-title {

}

.footer__links {
  display: flex;
  gap: 5px;
}

.footer__link {

}

.footer__link-icon {
  max-width: 25px;
}
