.canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;


  z-index: 0; /* убедитесь, что значение z-index больше, чем у других элементов, которые должны находиться под канвасом */
}
