:root {
  --background-main-color: #282C33;
  --background-second-color: #22242c;
  --text-color: #FFFFFF;


  --primary-color: #0077FF;
  --secondary-color: #FFD600;
  --brand-color: #0077FF;
  --accent-color: #FFD600;
  --main-color: #0077FF;
  --highlight-color: #FFD600;
  --base-color: #0077FF;
  --complementary-color: #FFD600;
}
