.contacts {

}

.contacts__title {

}

.contacts__description {

}

.contacts__block {

}

.contacts__list-title {

}

.contacts__links {

}

.contacts__links-item {
  display: flex;
  align-items: center;
}

.contacts__link-image {
  height: 40px;
}

.contacts__link {
  user-select: all;
}
